<h2 align="center", style="color:#585858"> Where do you want to go? </h2>

<br>
<br>
    <div> <table id="country-table" align="center">
    <col width = "300">
    <col width = "300">
    <tr class = "table">
      <th><h3>Country</h3></th> 
      <th style= "background-color:#E0E6F8;"><h3>Continent</h3></th>
    </tr>

    <tr>
    <% @countries.order('name').each do |country| %>
       <td><h5><%= link_to(country.name, "/countries/#{country.id}", class: "grey-link3") %></h5></td>
       <td style="background-color:#E0E6F8;"><h5><%= country.continent %></h5></td>
    </tr>
    <% end %>
    </table>
    <br>
    </div>

<img src= https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Simple_world_map.svg/2000px-Simple_world_map.svg.png width="100%" height="auto">

<br>
<br>

<style>

#country-table th, #country-table td {
    border: 2px solid black;
    border-color: #585858;
    color: #585858;
  }

  #country-table th {
    text-align: center;
  }

<style>