<img src=https://photos-2.dropbox.com/t/2/AAD1pi_4aOP74CFyoWHWqNfycsRH-wchLVM0JSdfbddq3g/12/683766028/jpeg/32x32/1/_/1/2/March%20(2).JPG/EN_f6M0FGMMJIAcoBw/A3hpRLpIpYslUrooXOqtU0PlhSLF75Qcz-GmZQoFFFw?size=1280x960&size_mode=3 width="100%" height="auto">

<h2 align="center"> <%= @destination.name.upcase %> </h2>
<br>
<%= @country_id %>
<br>
<br>
<b> What to do when yo're here: </b> <%= "#{@destination.what_to_do}" %>
<br>
<br>
<br>