a.list-group-item.active {
    color: #585858;
    background-color: #E0E6F8;
    border-color: #E0E6F8;
}

a.list-group-item {
    padding-left: 30px;
    width: 50%; 
}

.new_comment {
    padding-left: 30px;
}

a.textarea.comment_body {
    width: 50%;
}