.destinationshow {
    padding-left: 30px;
}

.form-group {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}

.btn_btn-primary_btn-md {
    background-color: #E0E6F8;
    border-color: #585858;
}

div.alert.alert-primary {
    background-color: #E0E6F8;
    border-color: #585858;
}

a.list-group-item.active {
    background-color: #E0E6F8;
    border-color: #585858;
}