<img src= https://www.dropbox.com/s/x6fn0bd6r3nu9av/BANNER.JPG?dl=0 width="100%" height="auto">

<h2 align="center", style="color:#585858"> Know what you are doing before you go </h2>
<br>
<h3 align="center", style="color:#585858"> Our tips </h3> 
<br>

<div class="row"> <% @tips.each do |tip| %>
    <div class="tip col-4">
        <img src= <%= "#{tip.image}" %> width=400px height=270px>
        <h5> <%= link_to tip.name, "/tips/#{tip.id}", class: "blue-link" %> </h5>
        <br>
    </div>
<% end %> 
</div>
<br>
<br>
<br>

