<img src= http://dl.dropboxusercontent.com/s/bza0jl2dg72uhc3/IMG_0980.JPG width="100%" height="auto">

<h2 align="center"> <%= @tip.name.upcase %> </h2>
<br>
<div class="tipshow">
    <b> What you need to know: </b> <%= "#{@tip.information}" %>
    <br>
    <br>
    <img src= <%= @tip.image %> width="40%" height="auto">
</div>
<br>
<br>
<br>
